.buttons button {
    margin: 10px 10px;
    font-weight: bold;
    background-color: aqua;
    width: 200px;
    height: 40px;
    color: darkred;
}
.buttons #insert-input:hover {
    background-color: wheat;
}
.buttons #insert-hidden:hover {
    background-color: violet;
}
#canvas {
    width: 1500px;
    height: 1000px;
    background: navy;
}