#buttons {
    margin: 10px 30px;
}

#insert {
    width: 100px;
    height: 30px;
    background-color: aquamarine;
    color:brown;
}
#move {
    width: 100px;
    height: 30px;
    background-color: aquamarine;
    color:brown;
}
#connect {
    width: 100px;
    height: 30px;
    background-color: aquamarine;
    color:brown;
}
#delete {
    width: 100px;
    height: 30px;
    background-color: aquamarine;
    color:brown;
}

#canvas {
    width: 1500px;
    height: 1000px;
    background: navy;
}