.buttons button {
    margin: 10px 15px;
    font-weight: bold;
    background-color: aqua;
    width: 110px;
    height: 30px;
    color: darkred;
}
#canvas {
    width: 1500px;
    height: 1000px;
    background: navy;
}